.navbar
{

  color: aqua;
  background-color:#133863;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);

}

.navbar-brand{

color: antiquewhite;

}

.btn{


  background-color:#C0D7F2;
}



@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}
