<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">My Profile</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a
              >
            </li>

            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">
                  {{ name }}
                </div>
                <div class="name-center">
                  {{ role }}
                </div>
              </div>
              <img src="{{ img }}" class="user-img" alt="" />
              <p>
                456, Estern evenue, Courtage area,
                <br />New York
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{ phone }}</span
                >
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>564</h5>
                  <small>Following</small>
                </div>
                <div class="col-4">
                  <h5>18k</h5>
                  <small>Followers</small>
                </div>
                <div class="col-4">
                  <h5>565</h5>
                  <small>Post</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2><strong>Security</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Username</mat-label>
                      <input matInput formControlName="name" required />
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>Current Password</mat-label>
                      <input
                        matInput
                        type="password"
                        formControlName="oldPassword"
                      />
                    </mat-form-field>
                    <mat-form-field
                      class="example-full-width"
                      appearance="fill"
                    >
                      <mat-label>New Password</mat-label>
                      <input
                        matInput
                        type="password"
                        formControlName="password"
                      />
                    </mat-form-field>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="onSubmit()"
                      [disabled]="!form.valid"
                    >
                      Save
                    </button>
                  </form>
                </div>
              </div>
              <div class="header">
                <h2><strong>Account</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <form [formGroup]="formAccount" (ngSubmit)="onSave">
                 
                    
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput  tyep="text" formControlName="name" required/>
                      </mat-form-field>
                    
                   
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required/>
                      </mat-form-field>
                   
                 
               
                   
                      <mat-form-field
                        class="example-full-width"
                        appearance="fill"
                      >
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" required/>
                      </mat-form-field>
                   
                 

                
                  <div class="col-md-12">
                    <button mat-raised-button color="primary"  (click)="onSave()"
                    [disabled]="!formAccount.valid">
                      Save Changes
                    </button>
                  </div>
                </form>
                </div>
              
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>About</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br />
                        <p class="text-muted">Emily Smith</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Mobile</strong>
                        <br />
                        <p class="text-muted">(123) 456 7890</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br />
                        <p class="text-muted">johndeo@example.com</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Location</strong>
                        <br />
                        <p class="text-muted">India</p>
                      </div>
                    </div>
                    <p class="m-t-30">
                      Completed my graduation in Arts from the well known and
                      renowned institution of India – SARDAR PATEL ARTS COLLEGE,
                      BARODA in 2000-01, which was affiliated to M.S.
                      University. I ranker in University exams from the same
                      university from 1996-01.
                    </p>
                    <p>
                      Worked as Professor and Head of the department at Sarda
                      Collage, Rajkot, Gujarat from 2003-2015
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged.
                    </p>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Education</strong></h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>M.B.B.S.,Gujarat University, Ahmedabad,India.</li>
                      <li>M.S.,Gujarat University, Ahmedabad, India.</li>
                      <li>
                        SPINAL FELLOWSHIP Dr. John Adam, Allegimeines
                        Krakenhaus, Schwerin, Germany.
                      </li>
                      <li>
                        Fellowship in Endoscopic Spine Surgery Phoenix, USA.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Experience</strong></h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>
                        One year rotatory internship from April-2009 to
                        march-2010 at B. J. Medical College, Ahmedabad.
                      </li>
                      <li>
                        Three year residency at V.S. General Hospital as a
                        resident in orthopedics from April - 2008 to April -
                        2011.
                      </li>
                      <li>
                        I have worked as a part time physiotherapist in Apang
                        manav mandal from 1st june 2004 to 31st jan 2005.
                      </li>
                      <li>
                        Clinical and Research fellowship in Scoliosis at
                        Shaurashtra University and Medical Centre (KUMC) ,
                        Krishna Hospital , Rajkot from April 2013 to June 2013.
                      </li>
                      <li>
                        2.5 Years Worked at Mahatma Gandhi General Hospital,
                        Surendranagar.
                      </li>
                      <li>Consultant Orthopedics Surgeon Jalna 2 years.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2>
                      <strong
                        >Conferences, Cources &amp; Workshop Attended</strong
                      >
                    </h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                      <li>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
