
<br>
<div class ="col-md-8 offset-md-4">

<div class="card border-primary mb-3" style="max-width: 25rem;">
  <div class="card-header">Login</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
   <form  class="card-text">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

</div>



<div class ="col-md-8 offset-md-3">

</div>
